*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 18px;
    overflow-y: hidden;
}

.head {
    //border: solid 0.1rem red;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: .1rem;

    //margin-right: -3rem;
   // overflow-x: hidden;
    //display: -webkit-box;
  //display: -moz-box;
  //display: -ms-flexbox;
  //display: -webkit-flex;
 // display: flex;
  
  //-webkit-flex-flow: row wrap;
  
  &__link1:hover, &__link2:hover {
    text-decoration: underline;
  }
  &__link3{
    background-color: rgb(255, 255, 255);
    width: 3rem;
    height: 3rem;
    //background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__link3:hover{
    background-color: rgb(245, 245, 242);
   
  }
}

.head a, button{
    font-size: .8rem;
    font-family: sans-serif;
    text-decoration: none;
    margin: .1rem .5em;
    cursor: pointer;
    color: black;
}

.head button{
   // background: none;
    border: none;
    //padding: .5rem 2rem 1rem ;
    text-align: center;

}

.head .signup{
    background-color: rgba(105, 126, 244, 0.89);
    color: #fff;
    padding: .5rem 1rem 1rem ;
    height: 2rem;
    border-radius: 5%;
}

.head .signup:hover{
    background-color: rgba(14, 43, 207, 0.89);
    color: #fff;
    padding: .5rem 1rem 1rem ;
    height: 2rem;
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
}
.main {
    //border: solid 0.2rem yellow;
    margin-top: -1rem;
    height: 60vh;

        &__icon{
            background-image: url(.//images//social.png);
            background-size: cover;
            background-repeat: no-repeat;
            height: 10vh;
            padding: 1rem;
           // margin: auto;
            background-position: center;
            //border: .1rem solid tomato;
            width: 15rem;
            margin: auto;
            height: 20vh;
        }
         &__input form{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(222, 221, 221);
            width: 45vw;
            height: 3rem;
            margin: 0 auto;
            border-radius: 30px;
         }
         &__input input{
            width: 28rem;
            height: 2rem;
            outline: none;
            border: none;
         }
         &__input button{
            background: none;
            border: none;
         }

         &__button{
            //background-color: rgb(239, 237, 237);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
         }
         .button1, .button2{
            padding: .8rem;
            background-color: rgb(248, 247, 245);
            border: none;
            border-radius: .2rem;
         }

         .button1:hover, .button2:hover{
            background-color: rgb(235, 235, 235);
            box-shadow: 5px 2px 10px rgba(82, 80, 80, 0.3) ;
         }
         &__End{
           //background: #cdc7c7;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: .8rem;
            font-size: smaller;
            color: rgb(100, 96, 96);
            margin-top: 1.5rem;
         }

         &__End a {
            text-decoration: none;
         }
         &__End a:hover {
            text-decoration: underline;
         }
}


.footer {
   // border: solid 0.2rem green;
    margin-top: 6.5rem;
    width: 100vw;
    height: 30vh;
    font-size: .9rem;
    color: rgb(143, 143, 139);
    background-color: rgb(235, 239, 239);
    
    a{
        text-decoration: none;
        color: rgb(103, 103, 102);
        font-weight: normal;
    }

    a:hover{
        text-decoration: underline;
    }

    &__1{
        //background-color: yellow;
        border-bottom: .1rem solid rgb(201, 197, 197);
        padding: 1rem 2rem;
    }
    
    &__2{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin: 1rem 1rem 0 ;       
    }

    &__3{
        margin-left: auto;
        margin-right: auto;
        text-transform: capitalize;
    }

    &__4{
        display: flex;
        gap: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html{
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    html{
        font-size: 16px;
    }
    .footer{
        font-size: .8rem;
        //margin-top: 1rem;
    }
}

@media(min-width: 576px) and (max-width:767px){
    html{
        font-size: 15px ;
    }
  .main{
    &__icon{
        width: 10rem;
    }
    &__input form{
        width: 58vw;
        height: 2.5rem;
        
     }
     &__input input{
        width: 28rem;
        height: 2rem;
        outline: none;
        border: none;
     }
     &__input button{
        background: none;
     }

     &__button{
        //background-color: rgb(239, 237, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
     }
     .button1, .button2{
        padding: .8rem;
        background-color: rgb(248, 247, 245);
        border: none;
     }
     &__End{
       //background: #cdc7c7;
        margin-top: .7rem;
     }
}

.footer{
    font-size: .8rem;
    
    &__2{
        display: flex;
        flex-direction: row;
        gap: .8rem;
        margin: .1rem 1rem 0;      
    }

    &__3{
        margin-left: auto;
        margin-right: auto;
        text-transform: capitalize;
        margin-top: -2.5rem;
        text-align: center;
    }

    &__4{
        display: flex;
        gap: .3rem;
        margin-right: 4rem;
    }
}
}

@media (max-width: 576px){
    html{
        font-size: 14px;
    }
    .main{
       //background-color: yellow;
       margin-top: .6rem;
       font-size: .9rem;
       
       &__icon{
        width: 15rem;
        //background-color: red;
    }

       &__input form{
        width: 22rem;
        height: 2.2rem;
       }
       &__button{
        //background-color: rgb(239, 237, 237);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 1rem;
     }
     .button1, .button2{
        padding: .5rem;
        background-color: rgb(248, 247, 245);
        border: none;
        font-size: 0.7rem;
     }
     &__End{
       //background: #cdc7c7;
        margin-top: .7rem;
     }
    }
    .footer{
        font-size: .75rem;
        margin-top: 1rem;
        height: 20rem;
        width: 100vw;
        overflow: hidden;
        display: flex;
        //align-items: center;
        justify-content: center;

        &__1{
            height:2rem;
            padding: 1rem;
            margin-top: .9rem;
        }
        &__2{
            display: flex;
            flex-direction: row;
            gap: .4rem;
            margin: 1.5rem .9rem 0;  
            margin-top: 5rem; 
            margin-left: -3rem;   
        }
        &__3{
            text-transform: capitalize;
            margin-top: -.6rem;
            text-align: center;
            font-size: .8rem;
            display: none;
        }
    
        &__4{
            margin-left: 1rem;
            
        }
    }
}

